*{
    padding: 0%;
    margin: 0;
}

article{
    background-color: rgb(202, 135, 222);
}

nav{
    background-color: black;
}

footer{
    color: white;
    background-color: #232323;
    padding: 2%;
}